@using Microsoft.EntityFrameworkCore
@model PajoPhone.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit/Create";
}
<h4>Product</h4>
<hr />
<div class="row d-grid">
    <div class="col-md-4">
        <form  method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <div>
                    <label asp-for="ImageFile">Upload Image</label>
                    <input asp-for="ImageFile" type="file" class="form-control" />
                </div>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div id="categoryTreeContainer" class="mb-3">
                <input type="hidden" id="selectedParentCategoryId" name="CategoryId"/>
                @await Html.PartialAsync("_CategoryTreePartial")
            </div>
            <div id="fieldKeysContainer">
                <div id="fieldKeysList">
                    @foreach(var f in @Model.FieldsValues)
                    {
                        <div class="form-group field-key-item d-flex mb-4 gap-2">
                            <input type="hidden" name="@f.ValueId" value="@f.ValueId"/>
                            <input type="text" value="@f.StringValue" class="form-control"/>
                        </div> 
                    }
                </div>
            </div>
            <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
<script>
    $('#categoryTree').on("select_node.jstree", function (e, data) {
        var categoryId = data.node.id;
        $('#selectedParentCategoryId').val(categoryId);
    
        $.ajax({
            url: '@Url.Action("GetFieldKeys", "Product")',
            data: { categoryId: categoryId },
            success: function (data) {
                var fieldKeysList = $('#fieldKeysList');
                let fieldValueIndex = $('#fieldKeysList > div').length; 
                fieldKeysList.empty();
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        const newField = document.createElement('div');
                        newField.classList.add('form-group', 'field-key-item', 'd-flex', 'mb-4', 'gap-2');
                        newField.innerHTML = `
                            <input type="hidden" name="FieldsValues[${fieldValueIndex + i}].Id" value="${item.id}" />
                            <label class="control-label">${item.key}</label>
                            <input type="text" name="FieldsValues[${fieldValueIndex + i}].StringValue"  class="form-control" />
                        `;
                        fieldKeysList.append(newField);
                    });
                } else {
                    fieldKeysList.append('<li class="my-2">No Fields.</li>');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error:', errorThrown);
            }
        });
     
    });
       $('#categoryTree').on('loaded.jstree', function() {
                                           $('#categoryTree').jstree("select_node", '@Model.CategoryId');
                                     });
</script>
