@model SearchViewModel
@{
    Layout = "_IndexLayout";
}
  <!DOCTYPE html>
  <html lang="fa" dir="rtl">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Pajo Phone</title>
      <link rel="stylesheet" href="~/css/output.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />   
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
  </head>
  <style>
      #loading {
          display: none;
          position: absolute;
          top: 50%;
          left: 40%;
          transform: translate(-50%, -50%);
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #FFA500;
          width: 120px;
          height: 120px;
          animation: spin 1s linear infinite;
      }
  
      @@keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
  </style>
  <body class="bg-gray-100" x-data="{ isOpen: false }">
  <!--  navbar -->
  <nav class="sticky top-0 z-10 block p-4 bg-white shadow-lg md:mb-8 ">
      <div class="container flex items-center justify-between mx-auto max-w-screen-2xl">
          <div class="p-4 md:hidden">
              <button onclick="isOpen =!isOpen" class="text-orange-500 focus:outline-none">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                  </svg>
              </button>
          </div>
          <ul class="flex items-center gap-x-0 lg:gap-x-4 text-slate-800 lg:text-lg">
              <li>
                  <a class="block px-4 py-2 font-bold text-orange-500 transition-all duration-500 rounded-md hover:bg-gray-100" href="#">PajoPhone</a>
              </li>
          </ul>
          <!-- Search bar-->
          <div class="flex-1 max-w-xl mr-4">
              <div class="flex items-center p-1 bg-gray-100 rounded-lg">
                  @* search bar*@
                  <input type="text" id="search-bar"  placeholder="نام محصول ..." class="w-full p-2 bg-transparent focus:outline-none text-slate-800" />
              </div>
          </div>
      </div>
  </nav>
  <!-- content -->
  <div class="container md:px-4 lg:px-6  mx-auto xl:max-w-screen-2xl grid grid-cols-12 md:grid-rows-[55px_minmax(500px,_1fr)] md:gap-8">
      <!-- sidebar -->
      <div class="col-span-12 row-span-2 md:block lg:col-span-3 xl:col-span-2">
          <div x-show="isOpen" class="fixed inset-0 bg-black bg-opacity-50 md:hidden" onclick="isOpen = false"></div>
          <div :class="{ 'block': isOpen, 'hidden': !isOpen }" class="hidden md:block bg-white p-5 md:rounded-xl max-h-[calc(100vh_-_140px)] overflow-y-auto sticky md:top-28 md:static md:max-h-full">
              <!-- Categories -->
              <div>
                  <form>
                      <input id="hidden-search-bar"/>
                      <div class="text-xl font-bold text-orange-500">دسته بندی ها</div>
                      <div class="h-64 overflow-y-scroll p-3 mb-3">
                          <input type="hidden" id="selectedCategoryId" name="CategoryId"/>
                          @await Html.PartialAsync("_CategoryTreePartial")
                      </div>
                      <hr class="my-2"/>
                      <div class="w-20" id="select-container">

                      </div>
                      <hr class="my-2"/>
                      <div>
                          <div class="mb-5 text-xl font-bold text-orange-500">قیمت</div>
                          <div class="mb-4">
                              <input type="range" id="price-range" class="w-full accent-orange-500" min="0" max="1000" value="0" oninput="updatePrice(this.value)">
                          </div>
                          <div class="flex justify-between text-gray-500">
                              <span id="minPrice">$0</span>
                              <span id="maxPrice">$1000</span>
                          </div>
                          <!-- Acc #3 Content -->
                          <div x-show="isOpenPrice === true" class="flex flex-col px-2 gap-y-2"></div>
                      </div>
                      <input class="hidden" name="Term"/>
                      <input type="hidden" name="PageNo" value="1"/>
                  </form>
              <!-- Desktop Filters -->
          </div>
      </div>
      
  </div>
      <div  class="col-span-12 md:col-span-8 lg:col-span-9 xl:col-span-10">
          <div id="products-container" class="grid grid-cols-2 px-2 gap-x-2 gap-y-4 lg:grid-cols-4 md:p-0 sm:gap-x-4 md:gap-x-6 md:gap-y-10"></div>
      </div>
      </div>
      <div id="modal-container"></div>
  <div id="loading" style="display: none;">
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>    
  <script>
      $(document).ready(function () {
          $.ajax({
              url: '@Url.Action("GetProductCards", "Product")',
              type: 'GET',
              success: function (result) {
                  $('#products-container').html(result);
              },
              error: function (xhr, status, error) {
                  console.error(error);
              }
          });
      });
      $(document).on("click",".show-modal",function (e){
          var id = $(e.target).parents(".product-card").attr("data-id");
          $.ajax({
              url: '@Url.Action("GetProductModal", "Product" )'+ "?productId=" + id,
              type: 'GET',
              success: function (result) {
                  $('#modal-container').html(result);
                  openModal();
              },
              error: function (xhr, status, error) {
                  console.error(error);
              }
          });
      })
      $("#search-bar").on("keyup" , function(){
          var searchValue= $(this).val();
          
          $("#products-container").empty();
          $("#loading").show();
          setTimeout(function() {
              if (searchValue==""){
                  $.ajax({
                      url: '@Url.Action("GetProductCards", "Product")',
                      type: 'GET',
                      success: function (result) {
                          $('#products-container').html(result);
                      },
                      error: function (xhr, status, error) {
                          console.error(error);
                      },
                      complete: function () {
                          $("#loading").hide();
                      }});
              }else{
                  $.ajax({
                      url: '@Url.Action("GetProductCards", "product")' + "?searchValue=" + searchValue,
                      type: 'GET',
                      success: function (result) {
                          $('#products-container').html(result);
                      },
                      error: function (xhr, status, error) {
                          console.error(error);
                      },
                      complete: function () {
                          $("#loading").hide();
                      }
                  });
              }
          },500);
      });
       $('#categoryTree').on("select_node.jstree", function (e, data) {
                  var categoryId = data.node.id;
                  $('#selectedCategoryId').val(categoryId);
     
                  $.ajax({
                      url: '@Url.Action("GetKeyValues", "Product")',
                      data: { categoryId: categoryId },
                      success: function (items) {
                          var $container = $("#select-container"); 
      
                          $container.empty(); 
      
                         
                          $.each(items, function (key, values) {
                              
                              var $select = $('<select>', {
                                  class: 'form-control key-select', 
                                  'data-key': key 
                              });
                              $select.append($('<option>', {
                                  value: '',
                                  text: 'Select an option'
                              }));
                              $.each(values, function (index, kv) {
                                  var option = $('<option>', {
                                      value: kv.value, 
                                      text: kv.text
                                  });
                                  $select.append(option);
                              });
                              var $label = $('<label>').text(key);
                              $container.append($label).append($select);
                              $select.select2();
                          });
                      },
                      error: function () {
                          console.error("Error retrieving key values.");
                      }
                  });
              });
  </script>
  <script src="~/js/Index.js"></script>
  </body>
  </html>
  
  